*.class

.project
.classpath
.idea
.idea_modules
.cache
project/target
lib_managed
dist
target
bin
config

src/main/webapp/WEB-INF/work

content/static/release
content/static/js/build
content/static/css/build
