*.class

.project
.classpath
.idea
.idea_modules
.cache
project/target
lib_managed
dist
target
bin
config

src/main/webapp/WEB-INF/work
src/main/webapp/static/release
src/main/webapp/static/js/build
src/main/webapp/static/css/build
