<!doctype html>
<html>
<head>
    <title>Mark S. Kolich: @{title}</title>
    <link href="static/release/blog.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../bower_components/bootstrap/assets/js/html5shiv.js"></script>
    <script src="../bower_components/bootstrap/assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">

        <div class="page-header" id="banner">
            <div class="row">
                <div class="col-lg-6">
                    <h1>Mark S. Kolich</h1>
                    <p class="lead">@{title}</p>
                </div>
            </div>
        </div>