body {
  line-height: 1.7;
}

.page-header {
  margin-top: 10px;
}

div.headerpic {
  float: left;
  margin: 15px 20px 0 0;
}

div.headerpic img {
  border: 1px solid #666;
}

h2.title {
  margin-top: 0;
  margin-bottom: 10px;
}

p.hash {
  margin-bottom: 0;
}

p.date {
  margin-bottom: 20px;
}

pre.prettyprint {
  padding: 9.5px !important;
}

div.well.clone {
  width: 400px;
  margin: 0 auto 20px auto;
  font-weight: bold;
}

footer{margin:30px 0 30px 0;}footer li{float:left;margin-right:1.5em;margin-bottom:1.5em}
footer p{clear:left;margin-bottom:0}