body {
  line-height: 1.7;
}

h1, h2, h3, h4 {
  margin-top: 0;
}

article h2, h3 {
  margin: 20px 0 20px 0;
}

.page-header {
  margin-top: 10px;
}
.page-header h1 {
  margin-bottom: 3px;
  margin-top: 25px;
}

p.header-pic {
  float: left;
  margin: 15px 20px 0 0;
}
p.header-pic img {
  border: 1px solid #999;
}

p.hash {
  margin-bottom: 0;
}
p.date {
  margin-bottom: 20px;
}

pre.prettyprint {
  padding: 9.5px !important;
}

.entry {
  position: relative;
  cursor: pointer;
  max-height: 220px;
  overflow: hidden;
  margin-bottom: 30px;
}
.entry .fader {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: -moz-linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

div.panel.twitter .panel-body ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li.tweet {
  margin-top: 10px;
}

li.tweet.first {
  margin-top: 0;
}

div.panel.twitter .panel-body li.small p {
  margin-bottom: 0;
  overflow: hidden;
}

div.panel.twitter .panel-body li.small p.smaller {
  font-size: 75%;
  margin-top: 0;
}

button.more {
  width: 30%;
  margin: 30px auto 30px auto;
}

footer {
  margin: 30px 0 30px 0;
}
footer li {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}
footer li.first {
  margin-right: 0;
}
footer p {
  clear: left;
  margin-bottom: 0;
}

div.translate { clear: both; }
p.translateflag { cursor: pointer; background:url(../images/translate/flag-sprite.png) no-repeat; margin: 0px 5px 5px 0px; padding: 0px; height: 11px; width: 16px; font-size: 1px; }

p.usa { background-position: 0px 0px; float: left; }
p.spain { background-position: 0px -11px; float: left; }
p.mexico { background-position: 0px -22px; float: left; }
p.finland { background-position: 0px -33px; float: left; }
p.france { background-position: 0px -44px; float: left; }
p.india { background-position: 0px -55px; float: left; }
p.croatia { background-position: 0px -66px; float: left; }
p.hungary { background-position: 0px -77px; float: left; }
p.indonesia { background-position: 0px -88px; float: left; }
p.italy { background-position: 0px -110px; float: left; }
p.israel { background-position: 0px -121px; float: left; }
p.japan { background-position: 0px -132px; float: left; }
p.korea { background-position: 0px -143px; float: left; }
p.lithuania { background-position: 0px -165px; float: left; }
p.netherlands { background-position: 0px -183px; float: left; }
p.norway { background-position: 0px -194px; float: left; }
p.poland { background-position: 0px -205px; float: left; }
p.portgual { background-position: 0px -216px; float: left; }
p.romania { background-position: 0px -238px; float: left; }
p.russia { background-position: 0px -249px; float: left; }
p.slovakia { background-position: 0px -260px; float: left; }
p.slovenia { background-position: 0px -271px; float: left; }
p.serbia { background-position: 0px -282px; float: left; }
p.sweden { background-position: 0px -293px; float: left; }
p.philippines { background-position: 0px -304px; float: left; }
p.turkey { background-position: 0px -315px; float: left; }
p.ukraine { background-position: 0px -326px; float: left; }
p.vietnam { background-position: 0px -337px; float: left; }
p.chinese-simple { background-position: 0px -348px; float: left; }
p.chinese-traditional { background-position: 0px -359px; float: left; }
p.bulgaria { background-position: 0px -370px; float: left; }
p.catalan { background-position: 0px -381px; float: left; }
p.arabic { background-position: 0px -392px; float: left; }
p.denmark { background-position: 0px -414px; float: left; }
p.germany { background-position: 0px -425px; float: left; }
p.greece { background-position: 0px -436px; float: left; }

/* For users of IE8 and older. */
div.ie-warning {
  width: 100%;
  background-color: #FF5A36; /* portland orange */
  font: bold 20px arial,sans-serif;
  color: black;
  padding: 10px;
}